/* add your CSS here */
.card {
    border: 2px outset rgb(200, 200, 200);
    border-radius: 10px;
    width: 336px;
}

.information {
    border: 1px solid rgb(220, 220, 220);
    margin: 5px;
    padding: 8px;
    width: 300px;
    font: 11pt serif;
}

#fact{
    font-style: italic;
}

h3 {
    margin: 10px;
}

img {
    width: 300px;
    margin: 5px;
    border: 1px solid rgb(214, 214, 214);
    /*i am putting this padding so that the borders of the image and the information are aligned */
    padding: 8px;;
}

li {
    list-style: none;
}

li span {
    font-weight: bold;
}